body {
  background-color: #fcf8f4;
  margin: 0;
  height: 1500px;
  padding-top: 74.55px;
}

nav {
  background-color: #e1e1e1;
  opacity: 0.9;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5em;
  box-sizing: border-box;
  top: 0;
  width: 100%;
  height: 74.55px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
  display: inline-block;
  padding: 25px 15px;
  border: 3px double #e1e1e1;
  text-decoration: none;
  color: #808080;
  font-size: 16px;
  text-transform: uppercase;
  transition: 0.15s;
}

nav ul li a:hover {
  border: double #0b0b0b;
  color: #0b0b0b;
}

header {
  background-image: url(../img/background-page-for-Dutch-food-page.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 5em;
  display: flex;
  justify-content: center;
  height: 660px;
}

#header-title {
  font-size: 48px;
  color: #003366;
  display: flex;
}

#intro-section {
  padding: 0 5em;
}

h2 {
  text-align: center;
  font-size: 36px;
  background-color: #e1e1e1;
  color: #003366;
  border: 8px #003366 double;
  border-radius: 0%.5em;
  margin-top: 1em;
}

#intro-section-article {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#intro-section-article-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

#intro-section-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: auto;
  width: 90%;
  box-sizing: border-box;
  border: 8px #003366 double;
  border-radius: 0%.5em;
  background-color: #e1e1e1;
}

h3 {
  display: block;
  font-size: 42px;
  margin-top: 1em;
}

p {
  margin-top: 1em;
  font-size: 18px;
  line-height: 1.6;
  text-align: start;
}

main {
  margin-top: 3em;
  padding: 0 5em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4em;
  row-gap: 20px;
  width: auto;
}

main section {
  padding: 20px;
  text-align: center;
  background-color: #e1e1e1;
  border: 8px #003366 double;
  border-radius: 0%.5em;
}

@media (max-width: 1052px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #f2f2f2;
}

#logo-company {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  height: 74.55px;
}

.link {
  color: #0b0b0b;
  border: double #0b0b0b;
}

.main-section-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border: 4px #003366 solid;
  border-radius: 0.5em;
}
